RESCALE_POLYLINE_COEFFICIENT=0.001
MAX_LINES_PER_FRAME=2
MAX_NUM_POINTS=91
NUM_TYPE_OF_LINES=4
CAMERA_WIDTH=1280
CAMERA_HEIGHT=960
FINAL_WIDTH=1280
FINAL_HEIGHT=960

TU_SIMPLE_JSON_HDF5_DATASET_PATH=
TU_SIMPLE_FRAME_DATASET_PATH=
TU_SIMPLE_JSON_PATH=